/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Heading Styling */
h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    color: red;
}

/* Container for inputs and button */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#music_file_input, #music_cover_input{
    display: none;
}

.customBtn{
    background-color: gray;
    color: white;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.customBtn:hover{
    background-color: darkgray;
}

/* Styling for the input fields */
#music_title {
width: 100%;
max-width: 400px;
padding: 12px;
margin: 10px 0;
border-radius: 5px;
border: 1px solid #ddd;
font-size: 16px;
}

/* Styling for the upload button */
button {
    padding: 12px 24px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect for the upload button */
button:hover {
    background-color: #45a049;
}
