body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.top_page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#logInBtn {
    position: absolute;
    right: 20px;
    color: white;
    background-color: darkblue;
}

#logOutBtn {
    position: absolute;
    right: 20px;
    color: black;
    background-color: red;
}

#UploadBtn {
    position: absolute;
    left: 20px;
    color: black;
    background: gray;
}

.content {
    text-align: center;
}
